.wrapper {
	&--cart-pg {
		.breadcrumb {
			padding: 8px 0 20px 0;
			&_block {
				border-bottom: none;
			}
		}
	}
}
.cart-pg {
	.table {
		&-col-6 {
			text-align: center;
		}
	}
	tbody {
		.table {
			&-col-3 {
				padding-left: 10px;
				@media #{$mobile} {
					padding-left: 0px;
					padding-right: 15px;
				}
			}
			&-col-6 {
				vertical-align: middle;
			}
			&-name {
				padding-left: 35px;
				@media #{$mobile} {
					padding-left: 15px;
				}
			}
			&-quantity {
				border: 3px solid #dededf;
				height: 48px;
				padding: 7px 0;
				width: 93px;
				text-align: center;
				border-radius: 22px;
				direction: rtl;
				span, input {
					display: inline-block;
					text-align: center;
					height: 100%;
					vertical-align: middle;
					font-size: 21px;
					font-weight: 700;
				}
				span {
					cursor: pointer;
					color: #b8b8b8;
					transition: $main_transition;
					&:hover {
						color: #000;
					}
				}
				input {
					width: 40px;
					border: none;

				}
			}
			&-del {
				width: 51px;
				height: 51px;
				border-radius: 50%;
				display: inline-block;
				position: relative;
				transition: $main_transition;
				&:before {
					content: '';
					position: absolute;
					top: 0px;
					bottom: 0px;
					right: 0px;
					left: 0px;
					margin: auto;
					width: 13px;
					height: 13px;
					background-image: url(../images/close.png);
					background-repeat: no-repeat;
					background-size: contain;
				}
				&:hover {
					box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.05);
				}
			}
		}
	}
	&_total {
		display: flex;
		justify-content: space-between;
		padding: 20px 25px;
		@media #{$mobile} {
			padding: 20px;
			display: block;
			text-align: left;
		}
		&-cost {
			margin-bottom: 5px;
		}
		.btn {
			width: 222px;
			height: 62px;
			padding: 16px 0px 16px 38px;
			font-size: 21px;
    		text-transform: none;
			display: block;
			margin: 0px 0px 0px auto;
			@media #{$mobile} {
				margin: 20px auto 0px 0px;
			}
			&:hover {
				color: $main_color;
			}
			&:before {
				padding: 6px;
				right: 30px;
				top: calc(50% - 7px);
			}
			&:after {
				border-width: 0px 0px 0px 2px;
				border-radius: 0px;
				height: 20px;
				top: 20px;
				right: 8px;
			}
		}
	}
}