section.join-us
	.container
		h2 Присоединяйся к ООО «Сила»!
		p.
			Таким образом консультация с широким активом влечет за собой процесс внедрения
		a(href="cart.html").btn.main-btn.main-btn--white Перейти в корзину