footer {
	.footer {
		&-top {
			border-bottom: 2px solid #e5e7ea;
			&_block {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				padding: 30px 0 25px 0;
				@media #{$tablet} {
					display: block;
				}
			}
			&_socials {
				ul {
					@media #{$tablet} {
						text-align: center;
					}
					li {
						display: inline-block;
						a {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 45px;
							height: 45px;
							border-radius: 50%;
							border: 2px solid #bcbcbc;
							transition: $main_transition;
							&:hover {
								border-color: $orange;
								span {
									color: $orange;
								}
							}
							@media #{$desctop} {
								width: 35px;
								height: 35px;
							}
							span {
								color: #bcbcbc;
							}
						}
					}
					li + li {
						margin-left: 17px;
						@media #{$desctop} {
							margin-left: 10px;
						}
					}
				}
			}
			&_menu {
				text-align: center;
				@media #{$tablet} {
					padding: 25px 0;
				}
				@media #{$mobile} {
					padding: 30px 0;
				}
				ul {
					display: inline-block;
					li {
						float: left;
						@media #{$desctop} {
							margin-left: 20px;
						}
						@media #{$tablet} {
							margin-left: 0px;
						}
						@media #{$mobile} {
							float: none;
						}
						a {
							font-size: 21px;
							font-weight: 700;
							transition: $main_transition;
							&:hover {
								color: $orange;
							}
							@media #{$desctop-md} {
								font-size: 18px;
							}
							@media #{$desctop} {
								font-size: 14px;
							}
							@media #{$mobile} {
								font-size: 21px;
							}
						}
					}
					li + li {
						margin-left: 35px;
						@media #{$desctop-lg} {
							margin-left: 25px;
						}
						@media #{$desctop-md} {
							margin-left: 20px;
						}
						@media #{$mobile} {
							margin-top: 35px;
							margin-left: 0px;
						}
					}
				}
			}
			&_top {
				display: inline-block;
				width: 186px;
				text-align: right;
				@media #{$desctop-lg} {
					width: 90px;
				}
				@media #{$desctop} {
					width: 45px;
					display: block;
					margin: auto;
				}
				a {
					box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.05);
					width: 64px;
					height: 64px;
					border-radius: 50%;
					display: inline-block;
					position: relative;
					@media #{$desctop} {
						width: 45px;
						height: 45px;
					}
					&:before {
						content: '';
						position: absolute;
						top: 8px;
						left: 0px;
						right: 0px;
						bottom: 0px;
						margin: auto;
						border: solid $orange;
						border-width: 3px 3px 0px 0px;
						width: 0px;
						height: 0px;
						padding: 7px;
						@include addPrefix(transform, rotate(-45deg));
					}
				}
			}
		}
		&-main {
			padding: 65px 0 55px 0;
			ul {
				li {
					&:last-child {
						.footer-main_img {
							i {
								background: url(../images/cart.png)no-repeat center;
								background-size: contain;
								width: 24px;
								height: 21px;
								display: inline-block;
							}
						}
					}
					@media #{$tablet} {
						&:nth-child(1), &:nth-child(2) {
							.footer-main_box {
								margin-bottom: 40px;
							}
						}
					}
				}
			}
			&_box {
				text-align: center;
				display: block;
				@media #{$mobile} {
					margin-bottom: 40px;
				}
				p {
					font-size: 20px;
					font-weight: 700;
					color: #bcbcbc;
					margin-bottom: 4px;
					@media #{$desctop} {
						font-size: 18px;
						min-height: 36px;
					}
					@media #{$tablet} {
						min-height: initial;
					}
				}
				span {
					font-size: 21px;
					font-weight: 700;
					@media #{$desctop} {
						font-size: 19px;
					}
				}
				a {
					transition: $main_transition;
					&:hover {
						color: $orange;
					}
				}
			}
			&_img {
				margin: auto auto 28px auto;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				box-shadow: 2px 2px 8px 6px rgba(0, 0, 0, 0.05);
				padding: 23px 0;
				position: relative;
				i {
					font-size: 24px;
				}
				.cart {
					position: absolute;
					top: 0px;
					right: 0px;
					width: 22px;
					height: 22px;
					background-color: $orange;
					border-radius: 50%;
					box-shadow: 0px 0px 15px 3px rgba(255,173,50, 0.70);
					font-size: 17px;
					color: $main_color;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		&-bottom {
			border-top: 2px solid #e5e7ea;
			&_block {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 15px 0 20px 0;
				@media #{$mobile} {
				    padding: 25px 0;
				    display: block;
				    text-align: center;
				}
				p {
					color: #bcbcbc;
					font-weight: 700;
					@media #{$tablet} {
						font-size: 18px;
					}
				}
			}
			&_copyright {
				width: 380px;
				@media #{$mobile} {
				    margin: auto auto 20px;
				    width: initial;
				}
			}
			&_production {
				position: relative;
				max-width: 325px;
				padding-right: 120px;
				font-size: 20px;
				color: #bcbcbc;
				font-weight: 700;
				display: inline-block;
				@media #{$tablet} {
					max-width: 305px;
					font-size: 18px;
				}
				@media #{$mobile} {
					max-width: 250px;
					padding-right: 0px;
					padding-bottom: 55px;
				}
				&:before {
					content: '';
				    position: absolute;
					bottom: 0px;
					top: 0px;
					right: 0px;
					width: 115px;
					height: 45px;
					background-image: url(../images/unit-space.svg);
					background-repeat: no-repeat;
					background-position: center;
					@media #{$mobile} {
						top: initial;
					    left: 0px;
					    margin: auto;
					}
				}
			}
		}
	}
}