extends ./templates/base

block title
	title Article

block main
	.wrapper.wrapper--article
		include ./templates/header
		section.breadcrumb
			.container
				.breadcrumb_block
					ul.clearfix
						li
							a(href='./') Главная
						li
							a(href='blog.html') Блог
						li.
							Статья
		section.article_block
			.container
				.article_box
					.article_data
						span.article_data_day 05
						span.article_data_month фев
					.article_info
						h5.
							Идейные соображения порядка
						.article_info_data 05.06/18
						p.
							Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют от нас анализа форм развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют от нас анализа форм развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает.
					.article_quote
						p.
							Консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия.
						span Эрик Вайс
					.article_video
						h5 Видео
						video
						p.
							Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации y
							соответствующий условий активизации. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание модели развития.
						p.
							Таким образом реализация намеченных плановых заданий в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. 
			.article_pagination
				.container
					.pagination-block
						.pagination.loop-pagination
							a.prev.page-numbers(href='#') Предыдущая новость
							a.next.page-numbers(href='#') Следующая новость
								i.arrow.right
		section.join-us
			.container
				h2 Присоединяйся к ООО «Сила»!
				p.
					Таким образом консультация с широким активом влечет за собой процесс внедрения
				a(href="#").btn.main-btn.main-btn--white Перейти в корзину
		include ./templates/footer

